

.About h2 {
  
  text-align: center;
  margin-bottom: 20px;
  font-size: 3.5rem;
  padding-bottom: 35px;
}

.About p {
  color: var(--text-muted);
  font-size: 1.8rem;
  line-height: 1.4;
}


.text {
 text-align: center;
    padding-top: 61px;
    font-size: 1.7rem;
    color: white;
}

.text a {
  background-color: white;
    color: black;
    border: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    transition: padding-top 1s, padding-bottom 1s, padding-left 1s, padding-right 1s;
    border-radius: 20px;
}