.contact h2 {
  text-align: center;
  color: var(--purple);
  margin-top: 140px;
}

.contact input,
.contact textarea {
  background: #0f0b1d;
  border: 1px solid rgba(168, 85, 247, 0.3);
  color: var(--text-light);
}

.contact button {
  background: linear-gradient(135deg, #9333ea, #6d28d9);
  border: none;
  padding: 12px;
  color: white;
  border-radius: 25px;
}

.btm {
  margin-bottom: 100px;
}
