.study {
      display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 70px;
}


.container {

  border-style: outset;
  border-width: 1px;
  border-left: none;
  border-right: none;
}