/* Home section wrapper */
.Home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* move content from center to top */
  padding-top: 45px; 
  border-style: outset;
  border-width: 1px;
  border-left: none;
  border-right: none;

}

/* Inner content */
.home {
  text-align: center;
  
}

.home h1 {
  font-size: 3.5rem;
  margin-top: 200px;
}

.home h2 {
  color: var(--text-muted);
  font-size: 2.0rem;
}

.bottom {
  margin-top: 20px;
}

.btn1 {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
}



