.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 20px;
  border-width: 1px;
  border-style: outset;
  border-color: gray;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 19px;
}

.nav-links li a {
  text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
    transition: var(--transition);
    padding: 8px 0;
    position: relative;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav-links a::after {
     content: ""; 
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #38bdf8, #a855f7);
    box-shadow: var(--shadow-neon);
    transition: width 0.25s ease;
  }

  .nav-links.active {
    display: flex;
  }
}
