.skill-card {
  background: #212529;
  border-radius: 12px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.skill-card:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 30px rgba(0, 123, 255, 0.5);
  background: #1c51a1;
}


